/* GENERAL */
.white {
  background-color: white;
}

.center {
  text-align: center;
}

body, html{
  background-color: white !important;
}

/* NEWSLETTER SIGNUP */
.callToAction > a{
  background: #91c11e;
  color: white;
}

.callToAction > a:hover{
  background: #79a119;
  color: white;
}


div.emotional {
  color: black;
  background: white;
}

/* IMPRESSUM */
.footer {
  background-color: white;
  text-align: center;
  padding: 1em;
}
.footer > span {
  color: black;
  font-size: 0.8em;
}