/* GENERAL */
.white {
  background-color: white;
}

.center {
  text-align: center;
}

body, html{
  background-color: white !important;
}

.dark {
  background-color: #808080;
  color: white !important;
}

/* @ override */
.text {
  color: white !important;
}

.text-uppercase {
  color: black !important;
}

/* NEWSLETTER SIGNUP */
.callToAction  a{
  background: #91c11e;
  color: white;
}

.callToAction  a:hover{
  background: #79a119;
  color: white;
}

.graphic-main-stage  img {
  margin-left: 50%;
  transform: translateX(-50%);
}


div.emotional {
  color: black;
  background: white;
}

/* IMPRESSUM */
.footer {
  background-color: white;
  text-align: center;
  padding: 1em;
}
.footer > span {
  color: black;
  font-size: 0.8em;
}